.tag {
    .has-ellipsis {
        max-width: 10em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .delete, &.is-delete {
        @each $name, $pair in $colors {
            $color: nth($pair, 1);
            &.is-#{$name} {
                background: $color;
                &:hover {
                    @if $color == 'var(--color-primary-500)' {
                        background-color: var(--color-primary-700)
                    }
                    @if $color != 'var(--color-primary-500)' {
                        background-color: darken($color, 10%);
                    }
                }
            }
        }
    }
}
